{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Merhaba ben Yusuf Boyacı, Meslek Lisesi 3. Sınıf öğrencisiyim ve Yazılım Geliştirme, WEB Tasarım, Geliştirme okuyorum

Liseden önce bilgisayarlar ilgimi çektiği için liseye geçtiğimde Yazılım bölümünü seçtim. Yaşım 17 ve okulda WEB
geliştirme, tasarlama gibi ağırlıklı dersler görüyorum. Okul dışında kendim bilgisayarımdan uzaktan eğitim alarak İleri
Seviye Python öğreniyorum. Python, HTML ve CSS için ilk projem olması açısından bu kişisel siteyi tasarlıyorum.
Teşekkürler.
<br><br>
Edit::
Şuanda Lise 4. sınıfa geçtim. html ve css ile uğraşmayı bıraktım. çünkü çok basitler ve uğraşmaya değmiyor.
Bunun yerine yaz tatilinde kafama koyduğum makine öğrenimi ve veri bilimini öğrenicektim fakat aldığım kurs
çok boktan olunca hevesim kırıldı. Ayrıca makine öğrenimi yani yapay zeka bu ülkede kolay kolay ilerlemez.
işsiz kalmamak adına en uygun çözümü backend geliştirmede buldum.
Şuanda veri bilimi ve makine öğrenimi ile ilgilenmiyorum çünkü bu konular benim kafamı ""kiyor resmen ve hevesim
kırıldı. bu yüzden backende ağırlık vererek bu projeyi geliştirdim. <br>
Tarih 21/07/2023

<br><br>

Edit::
Yaz tatili bitti. Hocamız bize tatilin en başında stajyeri bulmamızı tembihleyerek söylemişti. Baykar teknolojiye
başvurdum fakat bu hafta olumsuz bir mail aldım. ve henüz başka bir yer bulmuş değilim:DD stajyeri bulmama
son 2 gün kaldı ve benden henüz çıt yok. Sınıfta ki herkes bulmuştur sanırım. Bir ben kaldım. ee sağlam adamım.
öyle basit yerleri beğenmiyorum. bana yazılım şirketi lazım ki çalışayım ve bir şeyler öğreneyim. stajı staj diyip
geçmemek gerek. benim stajdan tek beklentim kendimi çok fazla geliştirmek. inanın para umrumda değil. Para tabiiki
lazım fakat şuanda kendimi geliştirmem için bana güzel bir stajyeri gerekiyor. He bu arada ben en üstte
kişise sitem olmam falan filan demişimde aifkqoifksdif o zamanlar sadece css ve html kullanıyordum.
Flaska daha sonra geçtim yani backend kısmına
<br>

Tarih: 02/09/2023

<hr>
{% endblock %}