{% extends "layout.html" %}
{% block body %}
    <h2>Şifre Yenileme</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="password">Yeni Şifre:</label>
            {{ form.password(class="form-control", id="password") }}
        </div>
        <div class="form-group">
            <label for="password2">Yeni Şifre Tekrar:</label>
            {{ form.password(class="form-control", id="password2") }}
        </div>
        <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
    </form>
{% endblock %}