{% extends "layout.html" %}
{% block body %}
<h3>Yorumlarınız</h3>
<hr>

{% if yorumlar %}

<form class="form-inline" action="/search" method="post">
    <input class="input-sm" type="search" placeholder="Ara..." aria-label="Search" name="keyword">
    <style>
        button {
            margin-left: 10px;
        }
    </style>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Arama Yap</button>
</form>
<hr>
<br>

<div class="list-group">
    {% for yorum in yorumlar %}

    <a class="list-group-item list-group-item-action" aria-current="true">
        <p class="mb-1">{{yorum.yorum|safe}}</p>
    </a>
    
    <hr class="mt-5">

    {% endfor %}
</div>


{% else %}
<div class="alert alert-danger">Bu Blokta Henüz Yorumunuz Bulunmuyor...</div>

{% endif %}
{% endblock %}